.\ExpensesWebServer\ApplicationServer\ExpensesWebServer\bin
.\ExpensesWebServer\ApplicationServer\ExpensesWebServer\obj
.\ExpensesWebServer\ApplicationServer\CsvImportProcessorsLibrary\bin
.\ExpensesWebServer\ApplicationServer\CsvImportProcessorsLibrary\obj