.blockEmailNottification {
    position: absolute;
    left: 1670px;
    top: 350px;
    display: flex;
    flex-direction: column;
    width: 166.59px;
    color: aliceblue;
    background-color: #928dcc;
    border: 2px solid #928dcc;
    border-radius: 20px;
    padding: 20px;

}

.boxSetting {
    width: auto;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 40px;
    background-color: aliceblue;
}

.settingText {
    text-shadow: 2px 2px 2px black;
}


.emailInput {
    margin: 20px 0px 0px 0px;
    background-color: #bebbe0;
    border-radius: 30px;
    padding: 10px;
}

.userEmailText {
    font-size: 13px;
}

.userEmail {
    width: 95%;
    border: 2px solid #514b9952;
    border-radius: 10px;
    background-color: #cdcbde;
}