.emailImportInstruction {
    position: absolute;
    top: 156px;
    left: 1161px;
    width: 639px;
    height: 630px;
    background-color: #928DCC;
    border: 0px;
    border-radius: 45px;
}

.instractionDesc {
    text-align: center;
    font-size: 30px;
    position: relative;
    top: 35px;
}

.markDesc {
    margin: 7px 0px 7px 0px;
    color: rgb(96, 244, 255);
}

.emailExp {
    margin: 30px 0px 30px 0px;
    font-size: 40px;
    color: rgb(96, 244, 255);
}

.copiedText {
    position: absolute;
    top: 521px;
    left: 1370px;
    background-color: rgb(175 172 207 / 53%);
    padding: 10px;
    font-size: 15px;
    border-radius: 30px;
    color: #2c2c2c;
}